<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StrategyDeveloper_Ver_0._0._1.Properties.Settings.Project_N_TestConnectionString" connectionString="Data Source=fullfrontal;Initial Catalog=Project.N_Test;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
        <add name="StrategyDeveloper_Ver_0._0._1.Properties.Settings.AlphaConnectionString" connectionString="Data Source=FullFrontal;Initial Catalog=Alpha;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
